.App {
  text-align: center;
  font: bolder;
  height: 100px;
}

// .App-logo {
//   height: 50px;
//   pointer-events: none;
//   font: bolder;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: 50px;
//   color: gray;
// }

.App-link {
  color: black;
  font: bolder;
}

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
